:root {
  font-family:
    Mont, Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: 2px solid grey; */
}

body {
  background-color: var(--background);
}

/* .svg-path {
} */

.svg-path-stroke {
  stroke: var(--text);
}

.svg-path-fill {
  fill: var(--text);
}

.primary-stroke {
  stroke: var(--primary);
}

.primary-fill {
  fill: var(--primary);
}

.gray-700-stroke {
  stroke: var(--gray-700);
}

.gray-700-fill {
  fill: var(--gray-700);
}
