:root {
  --page-padding: 20px;
  --section-gap: 36px;

  --container-gap: 28px;
  --container-heading-gap: 10px;
  --container-items-gap: 15px;
  --container-item-text-gap: 10px;

  --container-item-padding-y: 14px;

  --button-padding: 10px;
  --common-border-radius: 8px;
}
